<div class="row">

    <!-- Area Chart -->
    <div class="col">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Categories List</h6>

        </div>
        <!-- Card Body -->
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>
                name
              </th>
            </tr >
          </thead>
          <tbody>
            <tr ng-repeat="name in categoryList">
              <th></th>
              <td>{{categoryList.name}}</td>
              <td><button  type="button"
                  class="btn btn-warning mx-2  btn-sm"><i class="fas fa-edit"></i></button>
                <button  type="button" class="btn btn-danger  btn-sm"><i
                    class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

